[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=CubeMapLoader
Exec=/opt/CubeMapLoader/bin/CubeMapLoader
Icon=CubeMapLoader
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
